# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log

# Django
*.log
local_settings.py
db.sqlite3
media

# Virtual Environment
venv/
env/
ENV/

# Node.js
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db